main {
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px;
    margin: 5px 15px;

    background-color: rgb(72, 72, 235);
    
    border-radius: 5px;
    border: 0;

    color: white;
    font-weight: bold;
}

button:hover, input[type=button] {
    background-color: brown;
    cursor: pointer;
}

.btDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#msg {
    width:80%;
    height:100px;
    margin-top:20px;
    border: 1px solid red;
    
    display:flex;
    justify-content: center;
    align-items: center;

    font-size: large;
    font-weight: bold;

    background-color: goldenrod;
}

#msg span{
    color:red;
}