form{
    display:flex;
    flex-direction: column;

    width:80%;
    padding:20px;
    border: 2px solid darkred;
    
}

form > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width:100%;
    font-size: 20px;
    font-weight: bold;
}
.selDiv select, .inDiv > div {
    width:45%;
    height:40px;
    
    margin: 10px;
    padding:5px;
    font-size: 20px;
}

.inDiv input {
    width: 80%;
    box-sizing: border-box;
    margin-left: 5px;
    padding: 5px;
    height: 40px;
}

.inDiv label {
    width:10%;
    box-sizing: border-box;
    /* padding: 5px; */
    height: 40px;
}

input[readonly] {
    background-color: rgb(241, 141, 105);
}